<h1>Your todo list</h1>
<div>
  <div>
    <h2>
      Add a new todo
    </h2>

    <form action="/insert_task" method="post">
      <div>
        <label for="content_box">
          Describe the task:
        </label>

        <input type="text" id="content_box" name="query_task">
      </div>

      <button>
        Add to Next Up
      </button>
    </form>
  </div>
</div>


<div class="next_up">
<h2>Next Up</h2>
<% @list_of_tasks.each do |task| %>
<% if task.status == "next_up"%>
<ul>
  <li>
    <div><%= task.task %></div>
    <small>Added <%= time_ago_in_words(task.created_at) %> ago 
    <a href="/delete_task/<%= task.id %>">Delete</a>
    </small>

    <form action="/modify_task/<%= task.id %>" method = "post"><input type="hidden" name="query_status" value="in_progress">
    <button>Move to In Progress</button>
    </form>
    <% end %>
  </li>
</ul>
      <% end %>
</div>


<div class="in_progress">
  <h2>In Progress</h2>
  <% @list_of_tasks.each do |task| %>
  <% if task.status == "in_progress"%>
  <ul>
    <li>
      <div>
        <%= task.task %>
      </div>
    <small>
      Started <%= time_ago_in_words(task.updated_at) %> ago
      <a href="/delete_task/<%= task.id %>">Delete</a>
    </small>
    <form action="/modify_task/<%= task.id %>" method="post">
    <input type="hidden" name="query_status" value="done">
    <button>Move to Done</button>
    </form>
    </li>
      <% end %>
  </ul>
    <% end %>
</div>

<div class= "done">
 <h2>Done</h2>
 <% @list_of_tasks.each do |task| %>
 <% if task.status == "done"%>
  <ul>
    <li>
      <div>
      <%= task.task %>
      </div>
      <small>
        Completed at <%= task.updated_at.strftime("%l:%M%P on %d-%b-%Y") %>
        <a href="/delete_task/<%= task.id %>">Delete</a>
      </small>
    </li>
    <% end %>
  </ul>
  <% end %>
</div>
